<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Big Shop</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header>
		<!--
			Aca comienza el encabezado, dentro del encabezado estara la barra de navegacion.
		-->
			<img src="img/Logo-de-Big-shops.png" alt="Big Shops">
		<nav>		
			<div class="search__bar">
			<input type="text" name="search__input">
			<img src="src/buscar.png" alt="buscar">
			</div>
			<a href="#">Lorem</a>
			<a href="#">Lorem</a>
			<a href="#">Lorem</a>
		</nav>
	</header>
</body>
</html>
